@use "../../../shared/styles/common/forms" as *;
@use "../../../shared/styles/common/buttons" as *;
@use "../../../shared/styles/common/variables" as *;
@use "../../../shared/styles/common/global" as *;

.contact-right {
  form {
    input,
    textarea {
      @extend .input;
    }

    .contact-button {
      @extend .button;
      cursor: pointer;

      &:disabled {
        opacity: 0.9;
        cursor: not-allowed;
        transition: none;
        transform: none;
        box-shadow: none;
      }
    }
  }
}
