@use "../../shared/styles/common/variables" as *;
@use "../../shared/styles/common/buttons" as *;

.footer {
  background-color: $main-color;
  color: $second-color;
  text-align: center;
  padding: 10px 0;

  .top-button {
    margin-right: 10px;
  }
}
