@use '../common/_variables.scss' as *;
@use '../common/_buttons.scss' as *;
@use '../common/_forms.scss' as *;

body {
  background-color: $main-color;
}

.main-content {
  background-color: $main-color;
}

.sidebar {
  background-color: $second-color;
  color: white;

  nav ul li {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.3s ease;
    opacity: 0.9;

    &:hover {
      background-color: $highlight-color;
    }

    &.nav-active {
      color: $main-color;
      border-left: 4px solid $main-color;
    }

    a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9em;
    }

    i {
      font-size: 1.1rem;
      min-width: 40px;
      text-align: center;
    }
  }
}

.dashboard-header {
  min-height: 50px;
  background-color: $input-focus-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  i {
    font-size: 1rem;
  }

  .header-user {
    line-height: 1em;

    a {
      font-size: 0.75em;
    }
  }

  .logout-icon {
    transition: 0.4s ease;
    transform: scale(1.1);
  }
}

.dashboard-card {
  background-color: $card-color;
  box-shadow: $button-shadow;
  border-radius: $radius-medium;
  padding: 1rem;

  hr {
    border-color: $second-color;
    opacity: 0.4;
  }
}

.change-password-section {
  @extend .form-section;
  border: none;
  box-shadow: none;
  background-color: transparent;

  form {
    input,
    textarea {
      @extend .input;
    }
  }

  .change-password-button {
    @extend .button;
    background-color: $second-color;
    color: $main-color;
    padding: 10px 10px;
  }
}
