@use "../../../shared/styles/common/_variables.scss" as *;
@use "../../../shared/styles/common/_buttons.scss" as *;
@use "../../../shared/styles/common/_forms.scss" as *;

form {
  input,
  textarea {
    @extend .input;
  }
  input[type="datetime-local"] {
    color: rgba($second-color, 0.6);
  }
  .result-div {
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
  }

  .result-div.ng-hide {
    opacity: 0;
  }
}
