@use 'variables' as *;

.button {
  font-weight: 600;
  border-radius: $radius-medium;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: $button-shadow;

  &:hover {
    transform: scale(1.05);
    box-shadow: $button-shadow-hover;
    opacity: 0.9;
  }
}

/* Button Variants */
.join-button {
  @extend .button;
  background-color: $second-color;
  color: $main-color;
}

.contact-button {
  @extend .button;
  padding: 10px 30px;
  background-color: $second-color;
  color: $main-color;
}

.top-button {
  @extend .button;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $second-color;
  color: $main-color;
}

.join-button-mobile {
  @extend .button;
  background-color: white;
  color: $second-color;
  padding: 4px 30px;

  &:hover {
    background-color: $main-color;
  }
}

.check-it-button {
  @extend .button;
  background-color: $second-color;
  color: $main-color;
  font-weight: 600;
  padding: 10px 30px;
}

.back-button {
  @extend .button;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-color;
  color: $second-color;

  &:hover {
    transform: scale(1.05);
  }
}

.wallet-button {
  border: 2px solid $second-color;
  color: $second-color;
  font-weight: 600;
  padding: 2px 15px;
  border-radius: $radius-medium;
  transition: 0.4s ease;

  &:hover {
    background-color: $second-color;
    color: $main-color;
  }
}
