/* ------------------------ Variables ------------------------ */
/* ------------------------ End Variables ------------------------  */
/* ------------------------ Basic ------------------------ */
body {
  background-color: #F9E6BE;
  color: #151924;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, #F9E6BE 70%);
  background-size: cover;
}

/* ------------------------ End Basic ------------------------ */
/* ------------------------ Header ------------------------ */
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.header-title {
  color: #F9E6BE;
}

.header-title-x {
  color: #53A7C1;
}

.nav-link {
  color: #151924;
  padding: 6px 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.5s ease;
}
.nav-link:hover {
  color: #F9E6BE;
  background-color: #151924;
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* ------------------------ End Header ------------------------ */
.content {
  position: relative;
  z-index: 10;
}

/* ------------------------ Section ------------------------ */
section {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, #F9E6BE 70%);
  background-size: cover;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.bg-section {
  background-color: #F9E6BE;
}

/* ------------------------ End Section ------------------------ */
/* ------------------------ Footer ------------------------ */
footer {
  background-color: #151924;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* ------------------------ End Footer ------------------------ */
/* ------------------------ Effects ------------------------ */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ------------------------ End Effects ------------------------ */
/* ------------------------ Buttons ------------------------ */
.join-button {
  background-color: #151924;
  color: #F9E6BE;
  font-weight: 600;
  border-radius: 8px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.join-button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.join-button-mobile {
  background-color: white;
  color: #151924;
  font-weight: 600;
  padding: 4px 30px;
  border-radius: 4px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.join-button-mobile:hover {
  background-color: #F9E6BE;
  transform: scale(1.05);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.check-it-button {
  background-color: #151924;
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 8px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.check-it-button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

/* ------------------------ End Buttons ------------------------ */

/*# sourceMappingURL=styles.css.map */
